type felica, domain;

#FeliCa
type felica_device, dev_type;
type felica_exec, exec_type, file_type;

# Started by init
init_daemon_domain(felica);

allow felica shell_exec:file entrypoint;
allow felica felica_exec:file { open execute_no_trans getattr };
allow felica self:capability { dac_override sys_boot };
allow felica felica_device:chr_file rw_file_perms;
allow felica self:netlink_socket create_socket_perms;
allow felica system_data_file:file open;
